:root {
    box-sizing: border-box;
    --color-text: rgb(0, 82, 82);;
    --main-color-backgraund: aliceblue;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--main-color-backgraund);
    display: grid;
    grid-template-areas: "date"
                         "money"
                         "total";
    grid-template-rows: auto;
    justify-content: center;
}
p, button, label {
    font-size: 0.8rem;
    color: var(--color-text);
}
body>.date {
    grid-area: date;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    border-bottom: 2px solid rgba(96, 148, 151, 0.395);
}

.date__bankname h1,
label {
    color: rgb(96, 148, 151);
    text-align: center;
}

body>.money {
    grid-area: money;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid rgb(96, 148, 151, 0.395);
}
.money__money, .new__Element {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 2%;
}
.money form ,.date form {
    text-align: center;
}
.money__addlist {
    display: flex;
    margin-right: auto;
    align-self: center;
    margin: 0% 60% 2% 0%;        
}
.money__addlist label {
    width: 110px;
    font-size: 0.6rem;
    color: rgb(112, 155, 112);
}
.money__addlist button {
    border-radius: 50%;
    padding: 4px;
    font-size: 0.8rem;
    width: 23px;
    background-color:rgba(172, 255, 172, 0.564);
}
.money__addlist button:hover {
    padding: 4px;
}
body>.total {
    grid-area: total;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    height: 120px;
}

.total__end {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;
}

.total__end-button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.total__information {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

select {
    border: none;
    background-color: rgba(84, 136, 136, 0.158);
    box-shadow: rgb(102, 102, 102) 1px 1px 3px;
}

button {
    padding: 2% 8%;
    border: none;
    background-color: rgba(84, 136, 136, 0.158);
    box-shadow: rgb(102, 102, 102) 1px 1px 3px;
    color: var(--color-text);
    border-radius:20px;
}

button:hover {
    background-color: rgba(21, 119, 119, 0.288);
    padding: 4% 10%;
    box-shadow: none;
    transition: 0.1s;
}

input {
    width: 100px;
    border: solid 2px rgba(96, 148, 151, 0.622);
    color: var(--color-text);
    border-radius: 20px;
    text-align: center;
}
.date__day input {
    width: 112px;
}
#newDiv {
    position: absolute;
    top: 4%;
    height: 350px;
    padding: 0% 3% 0% 3%;
    background-color:var(--main-color-backgraund);
    box-shadow:rgb(92, 92, 92) 0px 1px 8px;
    text-align: center;
    color: var(--color-text);
}
#newDiv h2, #newDiv p {
    margin:1% 0% 1% 0%;
}
#newButton {
    margin: 5%;
}
#newDiv textarea {
    
    height: 200px;
    width: 200px;
    resize: none;
    border: none;
    background-color:rgba(227, 227, 227, 0.696);
}
.dellist__but {
    background:transparent;
    box-shadow: none;
    color: red;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    height: 20px;
    width: 20px;
    padding: 0;
    margin-right: 3%;
}
.dellist__but:hover {
    color: rgb(84, 136, 136);
    padding: 0;
    background: transparent;
    border-radius: 50%;
}
#reviationadd {
    width: 40px;
}